$font-1: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-2: Arial, Verdana, sans-serif;

$acando-blue: #385988 !default;
$acando-orange: #FF6C2F !default;

$acando-background-color: #F5F1EE !default;
$acando-hr-color: #EBE4DC !default;

$white: #ffffff !default;
$black: #000000 !default;

$lightgrey-h: #ffffff !default;
$lightgrey-c: #f8f8f8 !default;
$lightgrey-t: #dbdbdb !default;

$darkgrey-h: #858889 !default;
$darkgrey-c: #6c6f70 !default;
$darkgrey-t: #545556 !default;

$clay-h: #e1dbd2 !default;
$clay-c: #c7c2ba !default;
$clay-t: #aea9a2 !default;

